{% extends 'base.html' %}

{% block title %}Editar Estado de Reserva{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
        <div class="text-center">
            <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                Editar Estado de Reserva
            </h2>
        </div>
        <form class="mt-8 space-y-6" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'estado' or field.name == 'motivo' %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
                        <div class="mt-1">
                            {{ field.as_widget }}
                            {{ field.errors }}
                            {% if field.help_text %}
                                <p class="helptext">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="hidden">{{ field }}</div>
                {% endif %}
            {% endfor %}
            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Guardar Cambios
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
