{% extends 'base.html' %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10 text-center">
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
            ¿Estás seguro de que quieres eliminar esta reserva?
        </h2>
        <p class="text-lg text-gray-700 mt-4 mb-8">{{ object }}</p>
        <form class="mt-8 space-y-6" method="POST">
            {% csrf_token %}
            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    Eliminar
                </button>
            </div>
            <div>
                <a href="{% url 'management:reserva_list' %}" class="group relative w-full flex justify-center py-2 px-4 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
