{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
        <div class="text-center">
            <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                Iniciar Sesión
            </h2>
        </div>
        <form class="mt-8 space-y-6" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Iniciar Sesion
                </button>
            </div>
        </form>
        <div class="text-center">
            <p class="text-sm text-gray-600">
                ¿No tienes cuenta? 
                <a href="{% url 'autentication_enmanuel_sergio:register' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Regístrate
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
